# React (Node.js) related
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/coverage
/build
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/
.vscode/
.vscode/settings.json
.vscode/launch.json
.vscode/extensions.json

# Spring Boot (Java) related

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
/.idea
*.iml
*.ipr
*.iws
out/

# Eclipse
/.metadata
/.classpath
/.project
/.settings/
bin/

# VS Code
.vscode/

# Java and Spring Boot temp files
*.war
*.ear
*.jar

# STS (Spring Tool Suite)
.springBeans

# Operating System Files
.DS_Store
Thumbs.db
